.posts {
	display: flex;
	flex: 1;
	padding: 20px 0;
	flex-wrap: wrap;
}

.posts_elem {
	position: relative;
	width: 30%;
	border: none;
	border-radius: 10px;
	padding: 20px 30px;
	background-color: white;
	box-shadow: 1px 5px 20px -4px rgb(0 0 0 / 30%);
	transition: transform 0.3s linear;
	cursor: pointer;
	overflow-wrap: break-word;
	margin: 0 15px 50px 15px;
}

.posts_elem:hover {
	transform: translateZ(-10px);
	transform: scale(1.05);
}

.posts_elem:hover .posts_elem_bg {
	opacity: 0.9;
}

.posts_elem:hover .posts_elem_icon {
	opacity: 1;
}

.posts_elem > div {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;
}

.posts_elem > p {
	margin-top: 10px;
}

.posts_elem_bg {
	background-color: #111;

	transition: opacity 0.2s linear;
}

.posts_elem_icon {
	display: grid;
	place-items: center;

	transition: opacity 0.2s linear;
}

.posts_elem_icon > .MuiSvgIcon-root {
	color: white;
	font-size: 30px;
}
